header.section .inner {
    max-width: none;
    height: auto;
    padding: 20px 20px;
}

header.section.active {
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);   
}

.visual-con {
    padding: 0 20px;
}

.visual-con .title {
    font-size: 2.5rem;
}

.scroll-down {
    bottom: 20%;
}

.tiles ul li {
    width: 50%;
    padding: 2rem 1.5rem;
}

blockquote {
    padding: 0 20px;
}

.contact_container {
    padding: 0 20px;
}

ul.toggle {
    display: none;
}

ul.toggle.on {
    display: block;   
}

.body_container .toggle-btn {
    position: fixed;
    padding: 5px 0 0;
    z-index: 20;
}

header ul li {
    display: flex;
    flex-direction: column; 
    text-align: center; 
    /* border-bottom: 1px solid #eee; */
}

header ul li:first-child {
    margin: 1rem 0 0;
}

header .menu-group {
    display: block;
}

.contact_container {
    display: block;
}

.contact-info {
    width: 100%;
    padding: 0 0 2rem 0;
}
#contact-form {
    width: 100%;
}

.project {
    width: 250px;
    height: 250px;
}


/* 토글 라인 */

.toggle-btn{
	position: absolute;
    right: 20px; 
    top: 20px;
    width:30px; height:30px;	
}
.toggle-btn > span{
    display:block;
    width:30px; 
    height:3px;
    background: #fff;
	border-radius: 10px;
    margin-bottom: 6px;
    transition-duration: 0.5s;
}

.toggle-btn.on > .line1{
    transform: translateY(10px) rotate(45deg);
    margin-top:4px;
}
.toggle-btn.on > .line2{
    display:none;
}
.toggle-btn.on > .line3{
    transform: translateY(10px) rotate(-45deg);
    margin-top:-10px;
}


